<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Goibibo Test"  > 
<!-- suite name="Suite Name" --> 

<listeners>
		<listener class-name="Analyzer.ListenerClass"/>
        <listener class-name="Analyzer.AnnotationTransformer"/>
	</listeners>
	


  <test name="GoIbibo Search Flight">
	 <classes>
	   <class name="com.goibibo.testcases.HomePageTest"/>
	 </classes>
   </test>
   
    <test name="GoIbibo Book Flight">
	 <classes>
	   <class name="com.goibibo.testcases.SearchPageTest"/>
	 </classes>
   </test>   
 
   
</suite>